<p id="notice"><%= notice %></p>
<div class = "container">
<h3>Doadores</h3>

<table class = " bordered highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Cpf</th>
      <th>Endereco</th>
      <th>Tipo sanguineo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= donor.nome %></td>
        <td><%= donor.idade %></td>
        <td><%= donor.email %></td>
        <td><%= donor.telefone %></td>
        <td><%= donor.cpf %></td>
        <td><%= donor.endereco %></td>
        <td><%= donor.tipo_sanguineo %></td>
        <td><%= link_to 'Mostrar', donor %></td>
        <td><%= link_to 'Editar', edit_donor_path(donor) %></td>
        <td><%= link_to 'Deletar', donor, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <a class="waves-effect waves-light btn red " href = <%= new_donor_path %> >Novo Cadastro</a>
</div>
<br>
<div>
<a class="waves-effect waves-light btn red " href = "/">Voltar</a>
</div>
