<div class = "container">
<p id="notice"><%= notice %></p>
<h3>Doador</h3>
<table>
<p>
  <strong>Nome:</strong>
  <%= @donor.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @donor.idade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @donor.telefone %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @donor.cpf %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @donor.endereco %>
</p>

<p>
  <strong>Tipo sanguineo:</strong>
  <%= @donor.tipo_sanguineo %>
</p>
</table>
<%= link_to 'Editar', edit_donor_path(@donor) %> |
<%= link_to 'Voltar', donors_path %>
</div>
