

<div class="container">
<p id="notice"><%= notice %></p>

<h1>Sangues Disponiveis:</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Tipos</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sangues.each do |sangue| %>
      <tr>
        <td><%= sangue.tipo %></td>
        <td><%= sangue.quantidade %></td>
        <td><%= link_to 'Mostrar', sangue %></td>
        <td><%= link_to 'Editar', edit_sangue_path(sangue) %></td>
        <td><%= link_to 'Deletar', sangue, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<span class="waves-effect red accent-3 btn"><%= link_to 'New Sangue', new_sangue_path %></span>
<a class="waves-effect red accent-3 btn" href = '/'> voltar</a>

</div>
