<div class = "container">
<h3>Cadastrar-se</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<form class = "col s12">
  <div class="row">
    <div class="input-field col s6">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="row">
    <div class="input-field col s6">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <div class="row">
    <div class="input-field col s6">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

  <div>
    <a class="waves-effect waves-light btn red "><%= f.submit "Cadastrar" %></a>
  </div>
<br>
  <div>
    <a class="waves-effect waves-light btn red " href = "/users/sign_in" >Entrar</a>
  </div>
<br>
  <div>
    <a class="waves-effect waves-light btn red " href = "/" >Voltar</a>
  </div>

  <% end %>
</form>
</div>
